header {
    height: 75px;
    padding: 1rem;
    color: rgb(100, 82, 82);
    background: #dde9f7;
    font-weight: bold;
    font-size: 190%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .logo{
      padding-top: 10;
      
  }

  .background__char {
    width: 900px;
    height: 900px;
    
    position: absolute;
    top: 15vh;
    left: 1vw;
  }
  .button{
    display:flex;
    float: right;
  }
  .button_1{
   /* display: flex; */
   text-align: right;
   margin: 20px;
   
  }
  .button_2{
   /* display: flex; */
   text-align: right;
   margin: 20px;
  }
  .button_3{
   /* display: flex; */
   text-align: right;
   margin: 20px;
  }
  .button_4{
   /* display: flex; */
   text-align: right;
   margin-top: 20px;
   margin-left: 10px;
  }
  .button_5{
   /* display: flex; */
   text-align: right;
   margin-top: 20px;
   margin-left: 22px;
  }
  .button_6{
   /* display: flex; */
   text-align: right;
   margin-top: 20px;
   margin-left: 25px;
  }
  .button_7{
   /* display: flex; */
   text-align: right;
   margin-top: 20px;
   margin-left: 25px;
  }