#btn{
    background: url(../img/버튼/피부/피부1.png);
}
#btn2{
    background: url(../img/버튼/피부/피부2.png);
}
#btn3{
    background: url(../img/버튼/피부/피부3.png);
}
#btn4{
    background: url(../img/버튼/피부/피부4.png);
}
#btn5{
    background: url(../img/버튼/피부/피부5.png);
}
#btn6{
    background: url(../img/버튼/앞머리/머리1-백발.png);
}
#btn7{
    background: url(../img/버튼/앞머리/머리1-금발.png);
}
#btn8{
    background: url(../img/버튼/앞머리/머리2-백발.png);
}
#btn9{
    background: url(../img/버튼/앞머리/머리2-흑발.png);
}
#btn10{
    background: url(../img/버튼/앞머리/머리2-금발.png);
}
#btn11{
    background: url(../img/버튼/앞머리/머리3-백발.png);
}
#btn12{
    background: url(../img/버튼/앞머리/머리3-금발.png);
}
#btn13{
    background: url(../img/버튼/앞머리/머리4-백발.png);
}
#btn14{
    background: url(../img/버튼/앞머리/머리4-금발.png);
}
#btn15{
    background: url(../img/버튼/앞머리/머리5-백발.png);
}
#btn16{
    background: url(../img/버튼/앞머리/머리5-금발.png);
}
#btn17{
    background: url(../img/버튼/앞머리/머리6-백발.png);
}
#btn18{
    background: url(../img/버튼/앞머리/머리6-금발.png);
}
#btn19{
    background: url(../img/버튼/앞머리/머리7-백발.png);
}
#btn20{
    background: url(../img/버튼/앞머리/머리7-금발.png);
}